body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #003F2D;
  font-family: Arial;
}

a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: bisque;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover
{
  color: whitesmoke;
  background: limegreen;
  box-shadow: 0 0 10px limegreen, 0 0 40px limegreen, 0 0 80px limegreen;
  overflow: hidden;
  letter-spacing: 8px;
  transition: .2s;
}